main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    padding: 2rem;
    text-align: center;

    section {
        width: 100%;
        border: 2px solid black;
        border-radius: 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        h2 {
            width: 100%;
        }
    }
}