* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    padding: 2rem;
    text-align: center;

    section {
        width: 100%;
        border: 2px solid black;
        border-radius: 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        h2 {
            width: 100%;
        }
    }
}

@view-transition {
    navigation: auto;
}


::view-transition-group(*) {
    animation-duration: 0.5s;
}

#from-red-hood,
#to-red-hood {
    view-transition-name: red-hood;
}

#from-sleeping-beauty,
#to-sleeping-beauty {
    view-transition-name: sleeping-beauty;
}

#from-snowdrop,
#to-snowdrop {
    view-transition-name: snowdrop;
}

::view-transition-old(red-hood),
::view-transition-new(red-hood) {
    mix-blend-mode: normal;

    height: 100%;
}

::view-transition-old(sleeping-beauty),
::view-transition-new(sleeping-beauty) {
    mix-blend-mode: normal;
    overflow: clip;
    height: 100%;
    transform: none;
}

::view-transition-old(snowdrop),
::view-transition-new(snowdrop) {
    mix-blend-mode: normal;
    overflow: clip;
    height: 100%;
    transform: none;
}

::view-transition-new(red-hood) {
    object-fit: cover;
}

::view-transtion-old(red-hood) {
    object-fit: contain;
}