* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    padding: 2rem;

    section {
        width: 100%;
        border: 2px solid black;
        border-radius: 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        text-align: center;

        h2 {
            width: 100%;
            font-size: 2rem;
        }

        p {
            width: 100%;
        }

        #explore-button {
            border: 2px solid black;
            border-radius: 10px;
            padding: 0.5rem;
            text-decoration: none;
            color: black;
        }
    }


}

@view-transition {
    navigation: auto;
}


::view-transition-group(*) {
    animation-duration: 0.5s;
}

#from-red-hood,
#to-red-hood {
    view-transition-name: red-hood;
}

#from-sleeping-beauty,
#to-sleeping-beauty {
    view-transition-name: sleeping-beauty;
}

#from-snowdrop,
#to-snowdrop {
    view-transition-name: snowdrop;
}

::view-transition-old(red-hood),
::view-transition-new(red-hood) {
    mix-blend-mode: normal;
    height: 100%;
}

::view-transition-old(sleeping-beauty),
::view-transition-new(sleeping-beauty) {
    mix-blend-mode: normal;
    height: 100%;
}

::view-transition-old(snowdrop),
::view-transition-new(snowdrop) {
    mix-blend-mode: normal;
    height: 100%;
}

#from-apple-cake,
#to-apple-cake {
    view-transition-name: apple-cake;
}

#from-cheesecake,
#to-cheesecake {
    view-transition-name: cheesecake-bars;
}

#from-chocolate,
#to-chocolate {
    view-transition-name: chocolate-cake;
}

::view-transition-old(apple-cake),
::view-transition-new(apple-cake) {
    mix-blend-mode: normal;
    height: 100%;
}

::view-transition-old(cheesecake-bars),
::view-transition-new(cheesecake-bars) {
    mix-blend-mode: normal;
    height: 100%;
}

::view-transition-old(chocolate-cake),
::view-transition-new(chocolate-cake) {
    mix-blend-mode: normal;
    height: 100%;
}