<header>
    <a href="/"><h1>Alexander Huang</h1></a>
</header>

<style>
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        a {
            text-decoration: none;
            color: black;
        }
    }
</style>
