---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";
import BlogCard from "./components/Blog.astro";
---

<BaseLayout>
    <Header />

    <main>
        <section>
            <h2>Classic Fables</h2>
            <BlogCard
                blogID="from-red-hood"
                title="Litte Red Riding Hood"
                link="/posts/post-1/"
                image="/little_red_riding_hood.jpg"
            />
            <BlogCard
                blogID="from-sleeping-beauty"
                title="The Sleeping Beauty"
                link="/posts/post-2/"
                image="/sleeping_beauty.png"
            />
            <BlogCard
                blogID="from-snowdrop"
                title="Snowdrop and Seven Little Dwarfs"
                link="/posts/post-3/"
                image="/snowdrop_and_seven_little_dwarfs.png"
            />
        </section>
    </main>

    <Footer />
</BaseLayout>
