---
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";
import BlogCard from "./components/Blog.astro";
---

<!doctype html>
<html lang="en" id="from">
    <head>
        <meta charset="utf-8" />
        <title>Blog</title>
        <link rel="stylesheet" href="src/styles/global.css" />
        <style>
            main {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 1rem;
                justify-content: space-around;
                padding: 2rem;
                text-align: center;

                section {
                    width: 100%;
                    border: 2px solid black;
                    border-radius: 2rem;
                    padding: 2rem;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 2rem;
                    justify-content: center;

                    h2 {
                        width: 100%;
                    }
                }
            }
        </style>
    </head>
    <body>
        <Header />

        <main>
            <section>
                <h2>Classic Fables</h2>
                <BlogCard
                    blogID="from-red-hood"
                    title="Litte Red Riding Hood"
                    link="/posts/post-1/"
                    image="../../public/little_red_riding_hood.jpg"
                />
                <BlogCard
                    blogID="from-sleeping-beauty"
                    title="The Sleeping Beauty"
                    link="/posts/post-2/"
                    image="../../public/sleeping_beauty.png"
                />
                <BlogCard
                    blogID="from-snowdrop"
                    title="Snowdrop and Seven Little Dwarfs"
                    link="/posts/post-3/"
                    image="../../public/snowdrop_and_seven_little_dwarfs.png"
                />
            </section>
        </main>

        <Footer />
    </body>
</html>
