---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";
---

<BaseLayout>
	<Header />
	<main>
		<section id="intro">
			<h2>~WELCOME~</h2>
			<p>
				This is a little experiment using Astro to create static sites.
				In this case, this website is a small blog.
			</p>
		</section>
		<section id="blog">
			<h2>~BLOGS~</h2>
			<p>
				In this section, you can explore a variety of entertaining and
				informative blogs.
			</p>
			<a id="blog-button" href="/blogs">Explore blogs!</a>
		</section>
	</main>

	<Footer />
</BaseLayout>
