<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Blog</title>
	</head>
	<body>
		<main>
			<h1>Hello World!</h1>
			<p>
				This is my first attempt at creating a static site using Astro.
			</p>
		</main>
	</body>
</html>
