---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";
---

<BaseLayout>
	<Header />
	<main>
		<section id="intro">
			<h2>~WELCOME~</h2>
			<p>
				This is a little experiment using Astro to create static sites.
			</p>
		</section>
		<section id="blog">
			<h2>~FABLES~</h2>
			<p>In this section, you can explore a variety of classic fables.</p>
			<a id="explore-button" href="/blogs">Explore!</a>
		</section>
		<section id="recipes">
			<h2>~RECIPES~</h2>
			<p>
				In this section, you can explore a variety of dessert recipes.
			</p>
			<a id="explore-button" href="/recipes">Explore!</a>
		</section>
	</main>

	<Footer />
</BaseLayout>
